* {
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-size:auto;
  background-repeat: no-repeat;
  background-image:url('./propertyUpView.svg');
}

.marginBottom {
  margin-bottom: 15px;
}

.fadedGrayContainer {
  background-color: rgba(119,119, 119, 0.5);
  padding: 25px;
  border-radius: 5px;
}

.bottomAlign {
  position: absolute;
  bottom: 0;
}

.grayContainer {
  background-color: #777;
  padding: 3rem;
}

.navyContainer {
  background-color: rgb(50, 94, 168);
  padding: 5rem;
}

.searchFormContainer .row {
  margin-top: .75rem;
  margin-right: .75rem;
  margin-left: .75rem;
  margin-bottom: .75rem;
}

.servicesContainer .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.servicesContainer h2 {
  font-weight: normal;
}
.servicesContainer .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

